<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="FirstUpdPath" value="\\Corei5\Дистрибутивы\Update\"/>
    <add key="SecUpdPath" value="\\10.5.5.200\Sharefolder\Distrib\UpdateV5\"/>
  </appSettings>
</configuration>